<h1>Edit About Page</h1>
<%= form_with(model: [:admin, @about], local: true) do |form| %>
  <div class="field">
    <%= form.text_area :content , rows: 20, cols: 80%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
